*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url(font/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(font/Poppins-SemiBold.ttf);
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

body {
  font-family: "Poppins";
  background-color: #f2f2f2;
  height: auto;
}

.top {
  margin-top: 80px;
  height: 168px;
  width: 540px;
}

#p-1 {
  font-weight: 200;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.25px;
  color: #4d4f62;
}

#p-2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #4d4f62;
  display: inline-block;
}

#p-3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.104167px;
  color: #4d4f62;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.botom {
  margin: 64px 0 80px 0;
  height: 530px;
  width: 1110px;
}

.same {
  height: 250px;
  width: 350px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding: 32px;
}

.same > h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #4d4f62;
  margin-bottom: 6px;
}

.same > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.0902778px;
  color: #4d4f62;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 40px;
}

.same > img {
  float: right;
}

.mid {
  height: 530px;
  justify-content: space-between;
}

#left {
  border-top: 4px solid #44d3d2;
}

#mid-1 {
  border-top: 4px solid #ea5454;
}

#mid-2 {
  border-top: 4px solid #fcae4a;
}

#right {
  border-top: 4px solid #549ef2;
}

footer {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*********************************media query*********************************/

@media screen and (max-width: 1120px) {
  /* body {
    display: flex ;
    flex-flow: column wrap !important;
    justify-content: center;
    align-items: center;
  } */

  .top {
    height: 161px;
    width: 311px;
  }

  #p-1 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.166667px;
  }

  #p-2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.166667px;
  }

  .botom {
    width: 311px;
    height: auto;
    margin: 76px 0 0 0;
  }

  .same {
    height: 222px;
    width: 311px;
    margin-bottom: 25px;
    padding: 28px;
  }

  .same > p {
    margin-bottom: 33px;
  }

  .botom {
    display: flex;
    flex-flow: row wrap;
  }

  .mid {
    justify-content: space-around;
  }

  footer {
    width: 311px;
  }
}
